<!DOCTYPE html>
<html>

<head>
    <title>Compose article</title>

    {{> head }}
</head>

<body>
    {{> topnav}}

    <div class="row">

        <div class="column" id="main-content-column">
            <form id="compose-form">
                <h2>New Article:</h2>

                <label for="title">Title:</label>
                <input id="title" type="text" name="title" placeholder="Yadda yadda" required autocomplete="off">

                <textarea id="text" type="text" align="top" name="text"
                    placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit." required
                    autocomplete="off"></textarea>

                <button type="submit">Submit</button>
                <span id="error"></span>
            </form>
        </div>

        {{> linkscolumn }}
    </div>
</body>
<script src="/js/compose.js"></script>

</html>