<!DOCTYPE html>
<html>

<head>
    <title>Brianday.dev</title>

    {{> head}}

<body>

    {{> topnav }}

    <div class="row">
        <div class="column" id="main-content-column">

            <h1>Latest Article:</h1>

            {{#each docs}}
            <div class="article-block">
                <div class="article-header">
                    <span class="title">{{ this.title }}</span>
                    <span class="date">{{ moment this.createdAt "DD MMM YYYY"}}</span>
                </div>
                <p>{{{ this.text }}}</p>
            </div>
            {{/each}}

            <h2>Recent projects:</h2>

            {{> projects }}

        </div>
    </div>

</body>

</html>