<!DOCTYPE html>
<html>

<head>
    {{> head }}
    <title>Projects | Brianday.dev</title>
</head>

<body>

    {{> topnav }}

    <div class="row">
        <div class="column" id="main-content-column">

            <h1>Some cool stuff I made:</h1>

            {{> projects }}

        </div>
    </div>

</body>

</html>