<!DOCTYPE html>
<html>

<head>
    <title>Brianday.dev</title>

    {{> head}}

<body>

    {{> topnav }}

    <div class="row">
        <div class="column" id="main-content-column">

            <h1>Some cool stuff I made:</h1>

            {{> projects }}

        </div>

        {{> linkscolumn }}

    </div>

</body>

</html>