<div class="column" id="links-column">
    <h2>Articles</h2>
    <ul>
        <li><a href="#">May 1, 2019</a></li>
        <li><a href="#">May 14, 2019</a></li>
        <li><a href="#">August 30, 2019</a></li>
        <li><a href="#">February 8, 2020</a></li>
        <li><a href="#">December 1, 2020</a></li>
        <li><a href="#">December 4, 2020</a></li>
        <li><a href="#">December 10, 2020</a></li>
    </ul>
</div>