<div class="column" id="links-column">
    <h2>Articles</h2>
    <ul id="links">
        <li><a
                href="https://bigthink.com/amp/does-everyone-really-need-a-job-why-we-should-question-full-employment-2604515196">
                Do we need full employment?</a></li>
        <a href=""></a>
    </ul>
</div>

<script src="/js/linkscolumn.js"></script>