<div class="topnav">
    <a href="/">
        <img src="/img/logo.png" alt="Brian Day" class="logo">
    </a>
    <div class="topnav-link">
        <a href="/blog">Blog</a>
        <a href="/">Projects</a>
        <a href="https://github.com/Antechamber">github</a>
        <a id="compose-link" href="/blog/compose">New article</a>
        <a id="login-link" href="/users/login">Log in</a>
    </div>
</div>