.articles-by-author {
    font-size: 20px;
    margin: 10px 0;
}

.article-block a, .article-block a:visited {
    text-decoration: none;
    color: rgba(30, 30, 30);
}

.articles-by-author .date {
    color: rgba(0, 0, 0, 0.5);
    font-size: small;
    float: right;
}

.article-block:hover {
    background-color: rgba(136, 136, 136, 0.151);
}